.Sec2 {
    margin-top: 30px;
    font-weight: 500;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title img {
    width: 50px;
    height: 50px;
}

.main-title h2 {
    color: #9d5b2c;
    font-size: 1.5em;
}

.boxes {
    margin-top: 10px;
}

.box {
    background-color: #fff;
    background-size: cover;
    z-index: 2;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 15px;
    padding: 20px;
    position: relative;
}

.box::after {
    background-color: #1787e0;
    bottom: -8px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70%;
}

.box h2 {
    color: #1787e0;
    font-size: 40px;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    height: 50%;
    margin-right: 10px;
    width: 150px;
}

.numerPhobe {
    color: #1787e0;
    font-weight: bold;
}

@media (max-width:992px) {

    h1,
    h2 {
        font-size: 18px !important;
    }

}

@media (max-width:767PX) {
    .info img {
        display: none;
    }

}