.navBar {
    margin-top: 20px;
    padding: 18px;
    background-color: #d6cedfdb;
    border-radius: 15px;
}

.navSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navSec ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navSec ul li {
    padding: 0 20px;
    text-decoration: none;
}


.navSec ul li a {
    text-decoration: none;
    color: #222;
    display: block;
    font-weight: 500;
    text-transform: none;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.navSec ul li a:hover {
    color: white !important;
    background-color: rebeccapurple;
    transition: all 0.3s ease-in-out;

}

.active {
    color: white !important;
    background-color: rebeccapurple;
}

.navList{
    font-size: 40px;
    display: none;
}

.navList:hover{
   color: red;
}

@media (max-width:992px){
    .navSec ul{
        display: none;
    }
    .navList{
        display: block;
    }
}